<div class="w3-col m7">
    
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
          <div class="w3-container w3-padding">
              <form action="/users/search_doctor_by_city">             
                  <select  id="">
                      <% 
                for(index in cityList)
                 {
                        %>
                <option value="<%=cityList[index].id%>"><%=cityList[index].name%></option>
                 <% 
                 }
                 %>
                </select>
            </form>
 
            </div>
        </div>
      </div>
    </div>
    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
      <img src="../profile/<%=publicPostList[index].profile_pic%>" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <span class="w3-right w3-opacity"><%=publicPostList[index].post_date%></span>
      <h4><%=publicPostList[index].name%></h4><br>
      <hr class="w3-clear">
      <p><%=publicPostList[index].post_text%></p>
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <img src="../uploads/<%=publicPostList[index].post_image%>" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
          </div>
          <div class="w3-half">
            <img src="../uploads/<%=publicPostList[index].post_image%>" style="width:100%" alt="Nature" class="w3-margin-bottom">
        </div>
      </div>
      <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="far fa-grin-alt"></i> &nbsp;Like</button> 
      <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="far fa-comment-dots"></i> &nbsp;Comment</button> 
    </div>
    <%
    }
    %>
   
    
  <!-- End Middle Column -->
  </div>